transformers==4.27.2
torch==2.2.0
datasets==2.17.0
langchain==0.1.8
langchain-community==0.0.21
langchain-openai==0.0.6
langchainhub==0.1.14
tavily-python==0.3.1
python-dotenv==1.0.1
faiss-cpu==1.7.4
bs4==0.0.2
fireworks-ai==0.12.1
numexpr==2.9.0
chromadb==0.4.24
langchain_text_splitters==0.0.1
wikipedia==1.4.0

# LangChain Virualizer

# https://pypi.org/project/langchain-visualizer/
langchain_visualizer @ git+https://github.com/tranhoangnguyen-agilityio/langchain-visualizer@main

# T5Tokenizer requires the SentencePiece
# https://pypi.org/project/sentencepiece/
sentencepiece==0.2.0
docarray==0.40.0
tiktoken==0.5.2
ipywidgets==8.1.2

# Dev tools
black==24.3.0